<% if signed_in? %>

<div class="row">
	<aside class="span8">

		<section>
			<%= render 'shared/charity_info' %>
		</section>


 </aside>



	<div class="span4">
		<section>
			<%= render 'shared/charity_form' %>
		</section>
	</div>
</div>

<% else %>

<div class="page-header"> 
 <h1>This is HelpOn home page.</h1>
</div>

<% end %>