:business_name
:email_address
:first_name
:last_name
:address_1
:address_2
:city_id
:state
:zip
:country
:phone
:website
:pick_a_category
:where_do_you_want_your_helpon_to_run
:review_links
:tell_us_a_little_bit_about_your_business

rails generate controller Charities  --no-test-framework
rails generate model Charity description:string deal_id:integer
rails generate integration_test company_pages


Take a look in this code <td><%= company.city.business_name %></td>
write a test to cauch the to an prepared e-mail.
I don't think the city_id is good in charities form.

#########################
Charity name attributes
##########################

charity_name:string registered_charity_number:string first_name:string 
last_name:string job_title:string email_address:string telephone_number:integer 
i_agree_to_the:boolean description:text charity_photo_file_name:string 
address_1:string address_2:string city_id:integer state:string 
zip:integer country:string website:string pick_a_category:string


Take a look an address from the company Model



