<% if @city.errors.any? %>
<section id="errors">
  <header>
    <h2>
      Oops! The <%= @city.class.name.titleize.downcase %> could not be saved.
    </h2>
    <h3>
      Please correct the following <%= pluralize(@city.errors.count, "error") %>:
    </h3>
  </header>
  <ul>
    <% @city.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</section>
<% end %>