<%= link_to avatar_profile_link(current_user), current_user %>
this is user info
<h1>
  <%= current_user.full_name %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</span>