<div class="page-header">
	<h1>Viewing Friendship</h1>
</div>
<% if @friendship.requested? %>
	<h3>Do you really want to be friends with <%= @friend.full_name %>? </h3>
<% end %>


<div class="form-actions">
  <% if @friendship.requested? %>
    <%= form_for @friendship, url: accept_friendship_path(@friendship), method: :put do |form| %>
      <%= submit_tag "Accept Friendship", class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>