<!-- 
<%= link_to "Album", user_albums_path(current_user) %>
<li>
  <span class="album"><%= album.title %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(album.created_at) %> ago.
  </span>
</li> -->