<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span6">
      <h2>Your HelpOn Cart</h2>
      <ul><% @cart.line_items.each do |item| %> 
        <li><%= item.deal.blurb_title %></li>
         <% end %> 
      </ul>
  </div>
</div>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
