<table cellspacing="0" cellpadding="0">
   <thead>
   <tr>
      <th scope="col">Value</th>
      <th scope="col">Discount</th>
      <th scope="col">Save</th>
    </tr>
      <%= @deals.each do |deal| %>
  </thead>
  <tbody>
    <tr>
      <td><%= number_to_currency(deal.regular_price, :precision => 2) %></td>
      <td><%= number_to_percentage(deal.initial_discount, :precision => 2) %></td>
      <td><%= number_to_currency(deal.flat_savings, :precision => 2) %></td>
    </tr>
  </tbody>
</table>