/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /*
    Helpon web site CSS
    CSS Positioning version
    by  Zekarias Araya
*/

/* ===== global styles ===== */

@charset "UTF-8";

body {
  font-family: Georgia, serif;
  background-image: url(bkgdHome.jpg);
  margin: 0;
  padding:0;
}

p, h1, h2, h3, h4, h5, h6, li {
  margin: 1ex 1em;
}

#wrapper {
  background: #fff;
  margin: 0 auto;
  text-align: left;
  width: 960px;
}

/* ===== header ===== */

#logo a  {
  float: left;
  margin-left: 240px;
  margin-top: 55px;
  color: #fff;
  text-decoration: none;
  border: none;
  font-family: "Trebuchet MS", sans-serif;  
}

#header {
  background: #09B89B;
  margin-bottom: 20px;
  padding: 0px;
  height: 167px;
}

#header #mainMenu {
  position: absolute;
  top: 75px;
  left: 390px;
}

#mainMenu ul {
  margin: 75px; 
  padding: 0px;
  list-style: none;
}

#mainMenu li {
  margin: 0px;
  padding: 0px;
  float: left;
}

#mainMenu li a:link, #mainMenu li a:visited {
  font-family: "Trebuchet MS", sans-serif;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0 15px 0 20px;
  margin-right: 10px;
  line-height: 25px;
  border: none;
}

#mainContent {
  background: #fff;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 0;
  width: 670px;
  float: left;
  border-radius: 15px;
  border-style: solid;
  border-color: #666;
  border-width: 1px;
}

#sideBar {
  background: #fff;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 0px;
  width: 230px;
  float: right;
  border-radius: 15px;
  border-style: solid;
  border-color: #666;
  border-width: 1px;
}

#footer {
  background: #9FF;
  padding: 0px;
  height: 125px;
  clear: both;
  margin: 0;
}

#footer ul {
  padding: 0;
  margin-left: 240px;
  list-style: none;
}

#footer li {
  float: left;
  margin: 0;
  padding: 0;
}

#footer li a:link {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0 10px 0 10px;
  margin-left: 20px;
  margin-top: 20px;
  line-height: 25px;
}
